<h1>すべての人にテクノロジーという武器を</h1>

<p>dive into code</p>

<%= link_to 'DIVE NOW', company_show_path, class: "btn" %><br><br>
<%= link_to 'ブログ一覧', blogs_path, class: "btn" %><br><br>
<%= link_to 'お問合せ', class: "btn" %>