body {
  color: white;
  /*width: 960px;
  margin-left: auto;
  margin-right: auto;*/
}

a {
  color: #FFF;
  font-size: 16px;
}

a:visited {
  color: #FFF;
  font-size: 16px;
}

th, td {
  color: white;
  font-size: 16px;
}

