<!--- Start Container ---><div class="container">
<div>
  <h1>お問い合わせ</h1>
</div>
  
<p>
  お問い合わせいただきありがとうございました。<br>担当者より折り返しご連絡致します。
</p>
  
  <%= link_to 'トップに戻る', root_path %>
<!--- //END Container ---></div>